:root{
    font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 11%, 12%);
}

section{
    background: hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.card{
    width: 350px;
    border-radius: 20px;
    background: #ffffff;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.card-header{
    background-image: url(images/bg-pattern-card.svg);
    background-size: cover;
    height: 150px;
}

.card-body{
    padding: 0 20px 25px;
}

.img-holder{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    overflow: hidden;
    margin: -55px auto 30px auto;
}

.img-holder img{
    width: 100%;
    height: auto;
    display: block;
}

.age,
.city,
.intel{
    font-weight: 400;
    color: hsl(0, 11%, 12%);
    opacity: .5;
}

.name-age{
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.city{
    font-size: .8rem;
}

.age{
    margin-left: 6px;
}

.card-footer{
    border-top: 1px solid hsl(0, 3%, 86%);
    display: flex;
    padding: 0 25px;
}

.card-footer .item{
    flex: 1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-footer .item .value{
    font-size: 1.1rem;
    margin-bottom: 6px;
}

.card-footer .item .intel{
    font-size: .6;
    letter-spacing: 1px;
}

/* Background circles */

.circles .circle1,
.circles .circle2{
    position: absolute;
    animation: 2s circles forwards;
    opacity: 0;
}

.circles .circle1{
    top: -600px;
    left: -300px;
    transform: translate(-100px, -50px);
}

.circles .circle2{
    bottom: -600px;
    right: -300px;
    transform: translate(100px, 50px);
}

@keyframes circles{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}